@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,300&display=swap');

:root{
    --background: #181721;
    --background-dark: wheat;
    --primary-color: #FFD523;
    --primary-dark: #CCAA1C;
    --primary-light:#FFEC9C;
    --text-light:white;
    --text-dark:#2C2E43;
}

body{
    background-color: var(--background);
}
.heading{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding: 1.2rem;
    margin: auto 30px;
    background-color: var(--primary-color);
}
.container{
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    height: 60vh;
    padding: 10px;
    margin: 30px;
    margin-bottom: 5px;
    text-align: center;
}
.container-grid{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}
.main{
    color: var(--text-light);
    font-family: 'Montserrat', sans-serif;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 60px);
    padding-top: 2rem;    
}

.main-img img{
    height: 100%;
    width: 100%;
}
.inline-text{
    display: inline;
}
.title{
    margin: auto 20px;
    justify-self: right;
    align-self: center;

}
.input-area{
    margin: 5px;
    height: 30px;
    width: 100px;
    align-self: center;
    background-color: var(--primary-light);
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;
}
button{
    display: block;
    margin: auto;
    background-color: var(--primary-color);
    color: var(--text-dark);
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    grid-column: 1/span 2;
    outline: none;
}
.output-area{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    grid-column: 1/span 2;
    margin-top: 20px;
}
.highlighted-text{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--primary-color);
}
.pnl-image{
    display: none;
    grid-column: 1/span 2;
    height: 20%;
    width: 20%;
    margin: auto;
    border: none;
}
footer{
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    text-align: center;
}
footer p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.list{
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.list-item{
    display: inline;
    color: var(--primary-color);
}
.icons{
    margin:10px;
}